<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.accloud.ac_device_android_demo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" />
    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.accloud.clientservice.ACNetworkChangeReceiver"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- [Required] 进入AbleCloud管理控制台,对应"产品管理->主域" -->
        <meta-data
            android:name="major-domain"
            android:value="ablecloud" />
        <!-- [Required] 进入AbleCloud管理控制台,对应"产品管理->主域ID" -->
        <meta-data
            android:name="major-domain-id"
            android:value="3" />
        <!-- [Required] 进入AbleCloud管理控制台,对应"产品管理->产品列表->子域".注意,若subDomain为数字,则需在数字前面加\0 -->
        <meta-data
            android:name="sub-domain"
            android:value="demo" />
        <!-- [Required] 进入AbleCloud管理控制台,对应"产品管理->产品列表->子域ID" -->
        <meta-data
            android:name="sub-domain-id"
            android:value="4" />
        <!-- [Required] 设备私钥,对应"产品管理->产品列表->点击管理->设备密钥->私钥" -->
        <meta-data
            android:name="secret-key"
            android:value="BEADD508A1A0AC77523FA741DD1FF754D5BBBDFC93A32619A77A5B510D3C7F65C65323EEB6951129B79E70E4DE514E49F6217BA4CA80891048114C3EE856183D9F86C8E47F6130C909B61CC13C42D261809C4C6476A0257EC979A872B2AAD22D6821AFB64E1EAB246AB4D7008821CA4E" />

        <!-- [Optional] 环境设置,默认值为0(0正式环境 1测试环境) -->
        <meta-data
            android:name="mode"
            android:value="1" />
        <!-- [Optional] 地域设置,默认值为0(0北京地区 1东南亚地区 2华东地区 3北美地区 4中欧地区) -->
        <meta-data
            android:name="region"
            android:value="0" />
        <!-- [Optional] 设备版本,格式为"1-0-0",不设置情况下默认值为"1-0-0",也可通过ACConfig进行设置 -->
        <meta-data
            android:name="version"
            android:value="1-0-0" />
        <!-- [Optional] 加密方式,默认值为2(0不加密 1静态加密 2动态加密) -->
        <meta-data
            android:name="security-mode"
            android:value="2" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
</manifest>
